interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/kevin1024/vcrpy
  response:
    body:
      string: '{"id":4477733,"node_id":"MDEwOlJlcG9zaXRvcnk0NDc3NzMz","name":"vcrpy","full_name":"kevin1024/vcrpy","private":false,"owner":{"login":"kevin1024","id":21099,"node_id":"MDQ6VXNlcjIxMDk5","avatar_url":"https://avatars.githubusercontent.com/u/21099?v=4","gravatar_id":"","url":"https://api.github.com/users/kevin1024","html_url":"https://github.com/kevin1024","followers_url":"https://api.github.com/users/kevin1024/followers","following_url":"https://api.github.com/users/kevin1024/following{/other_user}","gists_url":"https://api.github.com/users/kevin1024/gists{/gist_id}","starred_url":"https://api.github.com/users/kevin1024/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/kevin1024/subscriptions","organizations_url":"https://api.github.com/users/kevin1024/orgs","repos_url":"https://api.github.com/users/kevin1024/repos","events_url":"https://api.github.com/users/kevin1024/events{/privacy}","received_events_url":"https://api.github.com/users/kevin1024/received_events","type":"User","user_view_type":"public","site_admin":false},"html_url":"https://github.com/kevin1024/vcrpy","description":"Automatically
        mock your HTTP interactions to simplify and speed up testing","fork":false,"url":"https://api.github.com/repos/kevin1024/vcrpy","forks_url":"https://api.github.com/repos/kevin1024/vcrpy/forks","keys_url":"https://api.github.com/repos/kevin1024/vcrpy/keys{/key_id}","collaborators_url":"https://api.github.com/repos/kevin1024/vcrpy/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/kevin1024/vcrpy/teams","hooks_url":"https://api.github.com/repos/kevin1024/vcrpy/hooks","issue_events_url":"https://api.github.com/repos/kevin1024/vcrpy/issues/events{/number}","events_url":"https://api.github.com/repos/kevin1024/vcrpy/events","assignees_url":"https://api.github.com/repos/kevin1024/vcrpy/assignees{/user}","branches_url":"https://api.github.com/repos/kevin1024/vcrpy/branches{/branch}","tags_url":"https://api.github.com/repos/kevin1024/vcrpy/tags","blobs_url":"https://api.github.com/repos/kevin1024/vcrpy/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/kevin1024/vcrpy/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/kevin1024/vcrpy/git/refs{/sha}","trees_url":"https://api.github.com/repos/kevin1024/vcrpy/git/trees{/sha}","statuses_url":"https://api.github.com/repos/kevin1024/vcrpy/statuses/{sha}","languages_url":"https://api.github.com/repos/kevin1024/vcrpy/languages","stargazers_url":"https://api.github.com/repos/kevin1024/vcrpy/stargazers","contributors_url":"https://api.github.com/repos/kevin1024/vcrpy/contributors","subscribers_url":"https://api.github.com/repos/kevin1024/vcrpy/subscribers","subscription_url":"https://api.github.com/repos/kevin1024/vcrpy/subscription","commits_url":"https://api.github.com/repos/kevin1024/vcrpy/commits{/sha}","git_commits_url":"https://api.github.com/repos/kevin1024/vcrpy/git/commits{/sha}","comments_url":"https://api.github.com/repos/kevin1024/vcrpy/comments{/number}","issue_comment_url":"https://api.github.com/repos/kevin1024/vcrpy/issues/comments{/number}","contents_url":"https://api.github.com/repos/kevin1024/vcrpy/contents/{+path}","compare_url":"https://api.github.com/repos/kevin1024/vcrpy/compare/{base}...{head}","merges_url":"https://api.github.com/repos/kevin1024/vcrpy/merges","archive_url":"https://api.github.com/repos/kevin1024/vcrpy/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/kevin1024/vcrpy/downloads","issues_url":"https://api.github.com/repos/kevin1024/vcrpy/issues{/number}","pulls_url":"https://api.github.com/repos/kevin1024/vcrpy/pulls{/number}","milestones_url":"https://api.github.com/repos/kevin1024/vcrpy/milestones{/number}","notifications_url":"https://api.github.com/repos/kevin1024/vcrpy/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/kevin1024/vcrpy/labels{/name}","releases_url":"https://api.github.com/repos/kevin1024/vcrpy/releases{/id}","deployments_url":"https://api.github.com/repos/kevin1024/vcrpy/deployments","created_at":"2012-05-29T04:52:00Z","updated_at":"2026-09-07T20:46:10Z","pushed_at":"2026-09-01T13:39:32Z","git_url":"git://github.com/kevin1024/vcrpy.git","ssh_url":"git@github.com:kevin1024/vcrpy.git","clone_url":"https://github.com/kevin1024/vcrpy.git","svn_url":"https://github.com/kevin1024/vcrpy","homepage":"","size":1936,"stargazers_count":3006,"watchers_count":3006,"language":"Python","has_issues":true,"has_projects":true,"has_downloads":false,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":439,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":168,"license":{"key":"mit","name":"MIT
        License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","node_id":"MDc6TGljZW5zZTEz"},"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"has_pull_requests":true,"pull_request_creation_policy":"all","topics":["http","mocking","python","testing"],"visibility":"public","forks":439,"open_issues":168,"watchers":3006,"default_branch":"master","temp_clone_token":null,"network_count":439,"subscribers_count":37}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"45d0c6fb1133dd4b2797afdd7496cf9a414c23dd6deadc129116f4e4702c8d21"
      Last-Modified:
      - Mon, 07 Sep 2026 20:46:10 GMT
      X-GitHub-Media-Type:
      - github.v3; format=json
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Remaining:
      - '54'
      X-RateLimit-Reset:
      - '1788854073'
      X-RateLimit-Resource:
      - core
      X-RateLimit-Used:
      - '6'
      x-github-api-version-selected:
      - '2022-11-28'
      x-github-edge-region:
      - southeastasia
    status:
      code: 200
      message: OK
version: 1
